<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>posts:</strong>
    <%= @user.microposts.all.ids%>
</p>

<p>
  <strong>first post:</strong>
    <% if @user.microposts.all.ids.length > 0%>
      <%= @user.microposts.first.content%>
    <% else %>
      <%= 'No posts yet'%>
    <% end %>
</p>

<p>
  <strong>last post:</strong>
    <% if @user.microposts.all.ids.length > 1%>
      <%= @user.microposts.last.content%>
    <% else %>
      <%= 'No more posts'%>
    <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
